@import "tailwindcss";

@font-face {
  font-family: 'MyFont';
  src: url('/fonts/Quicksand-Regular.woff2') format('truetype');
  font-weight: normal;
  font-style: normal;
}

*{
  font-family: 'MyFont';
}

@keyframes carouselScroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-carousel {
  animation: carouselScroll 10s linear infinite;
}